{% extends 'shopapp/base.html' %}
{% block title %}
	Product # {{ product.pk }}
{% endblock %}
{% block body %}
	<div>
    <h1>Details of product # {{ product.pk }}</h1>
    <div>Product name: {{ product.name }}</div>
    <div>Product description: {{ product.description }}</div>
    <div>Product price: {{ product.price }}</div>
    <div>Product discount: {{ product.discount }}</div>
    </div>
    <div>
    <a href="{% url 'shopapp:products_list' pk = product.pk%}"
    >Back to products list</a>
    </div>
    <div>
    <a href="{% url 'shopapp:product_confirm_delete' pk = product.pk %}"
    >Delete product</a>
    </div>
{% endblock %}