{% extends 'requestdataapp/base.html' %}
{% block title %}
	BIO
{% endblock %}
{% block body %}
	<div>
        <form method="post">
        {% csrf_token %}
            <p>
                <label for="name">Full Name:</label>
                <input id="name" name="name" type="text" maxlength="19">
            </p>
            <p>
                <label for="age">Age:</label>
                <input id="age" name="age" type="number" min="0" max="100">
            </p>
            <button type="submit">Sumbit</button>
        </form>
    </div>
    {% if request.POST %}
        <div>
        <table>
            <tr>
                <td>Full name:</td>
                <td>{{ request.POST.name }}</td>
            </tr>
            <tr>
                <td>Age:</td>
                <td>{{ request.POST.age }}</td>
            </tr>
        </table>
        </div>
    {% endif %}
{% endblock %}